
/*titter*/
$font-size-title : 22px;
$line-height-title: 0px;
$font-weight-title: 600;
$color-title: #000000;
$text-align-title: left;
$font-family-title: "Lato";

/*logo*/
$font-size-logo: 27px;
$letter-spacing-logo: -2px;
$line-height-logo: 0px;
$color-logo: #000000;
$font-weight-logo: 700;
$font-family-logo: "Open Sans";


/*navbar*/
$width-nav: 373px;
$height-nav: 14px;
$font-size-nav: 15px;
$line-height-nav: 0px;
$color-nav: #ff6c40;
$font-weight-nav: 700;
$font-family-nav: "Lato";
$text-align-nav: left;